@page "/forgot-password"
@layout MainLayout
@attribute [AllowAnonymous]

<MudPaper Elevation="25" Class="pa-8" Style="width: 500px; padding-top: 0px !important;">
    @if (_processing)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Style="margin-left: -30px; margin-right: -30px;" />
    }
    <EditForm Model="@_model" OnValidSubmit="SubmitAsync" style="padding-top: 30px;">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudGrid>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudIcon Icon="@Icons.Material.Filled.Password" Color="Color.Primary"
                        Style="width:54px; height:54px;" />
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Forgot password?</MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.subtitle2" Class="mb-n4">Enter email for password reset</MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="E-mail" @bind-Value="_model.Email" For="@(() => _model.Email)"
                    Variant="Variant.Outlined"></MudTextField>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton Variant="Variant.Filled" Disabled="@(!Validated || _processing)" Color="Color.Primary" Size="Size.Large"
                    ButtonType="ButtonType.Submit" FullWidth="true">Reset Password</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudPaper>